<form id="login" method="post">
<input type="email" name="email" id="" placeholder="Ingresa tu email">
<br><br>
<input type="password" name="password" id="" placeholder="Ingresa tu contraseña">
<br><br>
<input type="submit" value="Enviar">
</form>
<script type="text/javascript">
	const formLogin = document.querySelector("#login")
	const formData = new FormData(formLogin)
	

	formLogin.addEventListener('submit', event => {
		event.preventDefault()
		fetch('/api/signin',{
		method: "post",
		body: formData
		})
		.then(res => res.json())
		.then(data => console.log(data))
		/*{
			localStorage.setItem('token', data.token)
		})*/
	})
</script>